-
	let items = [
		{
			key: 'home',
			title: 'Page 1',
			link: 'index.html'
		}
	];

each item in items
	li(class=(item.key === pageKey)?'current':'')
		a(href=item.link title=item.link)= item.title